/* Fonts */

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
         url('../fonts/Raleway-ExtraBold.woff') format('woff'),
         url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
         local('Rubik-Regular'), 
         url('../fonts/Rubik.woff2') format('woff2'), 
         url('../fonts/Rubik.woff') format('woff'), 
         url('../fonts/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), 
         local('Rubik-Bold'), 
         url('../fonts/Rubikbold.woff2') format('woff2'), 
         url('../fonts/Rubikbold.woff') format('woff'), 
         url('../fonts/Rubikbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Variables*/

:root {
    --basic-black: #000;
    --special-yellow-light: #FFE17F;
    --special-yellow-dark: #FFC700;
    --basic-light: #F0F0F0;
    --basic-light-gray: #EBEBEB;
    --basic-white: #FFF;
    --status-success: #08AF00;
    --basic-dark: #444444;

    --click-yellow: #FFCC33;
    --focus-purple: #AF4FFF;
    --special-button-grey: #E5E5E5;

    --special-form-background: #C4C4C4;
    --special-form-borders: #CECECE;
    --element-form: #CCCCCC;
    --icon-form: #B3B3B3;
    --form-basic-gray: #DCDCDC;
    --status-error: #FF3D3D;

    --cart-dark: #1A1A1A;

    --itme-catalog-black: #363636;

    --font-title: 800 50px/50px "Raleway", Arial, sans-serif;
    --font-subtitle: 700 24px/30px "Rubik", Arial, sans-serif;
    --font-button: 800 18px/21px "Raleway", Arial, sans-serif;
    --font-default: 400 18px/30px 'Rubik', Arial, sans-serif;
    --font-small: 400 16px/20px "Rubik", Arial, sans-serif;
    --font-catalog: 400 16px/18px "Rubik", Arial, sans-serif;
    --font-slide: 700 180px/180px "Rubik", Arial, sans-serif;
    --font-table-trait: 400 36px/30px "Rubik", Arial, sans-serif;
    --font-table-title: 400 16px/30px "Rubik", Arial, sans-serif;
    --font-category: 800 18px/24px "Raleway", Arial, sans-serif;
    --font-delivery: 800 20px/23px "Raleway", Arial, sans-serif;
    --font-label: 700 18px/20px "Rubik", Arial, sans-serif;
    --font-catalog-title: 800 16px/19px "Raleway", Arial, sans-serif;
    --font-filter-input: 400 15px/18px "Rubik", Arial, sans-serif;
    --font-point-catalog: 400 16px/19px "Rubik", Arial, sans-serif;
    --font-catalog-price: 400 18px/21px "Rubik", Arial, sans-serif;
    --font-counter: 400 14px/17px "Rubik", Arial, sans-serif;


    --special: linear-gradient(yellow, yellow);
}

/* Global */

body {
    min-width: 1440px; /*Всегда 100% величина*/
    margin: 0;
    padding: 0;
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content; /*шапка и футер по контенту, остальное - остальное место */
    align-content: start;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%; /*Ужимает картинку если она выходит за блок*/
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    padding: 0;
}

figure {
    margin: 0;
}

.page {
    height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto; 
    padding: 0; 
}

.content-hidden {
    color: transparent;
    font-size: 0;
    height: 0;
}

.button {
    background-color: inherit;
    border: none;
    font: var(--font-button);
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--special {
    /*background-image: var(--special);
    background-size: 8px 16px;
    background-position:center*/
    background-image: url("../img/icons/Подложка.svg");
    background-size: 220px 100%;
    /*background-position:center;*/
}

.disabled {
    opacity: 0.3;
}

/* Text*/

.text {
    font: var(--font-default);
    color: var(--basic-dark);
}

.text--title {
    font: var(--font-title);
    color: var(--basic-black);
}

.text--subtitle {
    font: var(--font-subtitle);
}

.text--small {
    font: var(--font-small);
}

.text--label {
    font: var(--font-label);
    letter-spacing: -0.02em;
    color: var(--basic-black);
}  

.text--popup {
    font: var(--font-small);
    color: var(--basic-white);
}

.text--catalog-title {
    font: var(--font-catalog-title);
    color: var(--basic-black);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.text--point {
    font: var(--font-point-catalog);
    color: var(--basic-black);
}

/* Focus*/

.focus:focus {
     /*Обеспечьте резервный стиль для браузеров,
  которые не поддерживают: focus-visible */
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
  }

.focus:focus:not(:focus-visible){
    outline: none;
}

.focus:focus-visible {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.search-form__wrap:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

/*.focus:-moz-focusring {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}*/

/* Header */

.main-header {
    position: relative;
    background-color: var(--special-yellow-light);
    margin-top: 40px;
    padding: 0 60px;
    height: 186px;

    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}

/* Logo global */

.logo {
    display: block;
    width: fit-content;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

/* Header logo */

.header-logo {
    margin-top: -23px;
    height: 36px;
}

/*Search Form*/

.search-form {
    grid-column: 1;
    display: flex;
    position: relative;
}

.search-form__wrap:first-child::before {
    content: '';
    background: url('../img/icons/search.svg');
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    top: calc(50% - 8px);
}

.search-form__input, .search-form__button {
    display: block;
    background: inherit;
}

.search-form__input {
    width: 359px;
    height: 40px;
    color: var(--basic-black);
    border: 2px solid var(--basic-black);
    border-radius: 50px 0px 0px 50px;
    box-sizing: border-box;
    padding-left: 48px;
}

.search-form__input::placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

.search-form__input:focus {
    outline: none;
}

.search-form__input:disabled {
    opacity: 0.3;
}

.search-form__button {
    width: 160px;
    height: 40px;
    border: solid var(--basic-black);
    border-width: 2px 2px 2px 0;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
}

.search-form__button:hover {
    background: var(--basic-black);
    color: var(--basic-white);
}

.search-form__button:active {
    color: var(--basic-white) 0.3;
}

.search-form__button:focus {
    outline: none;
}

.search-form__button:disabled {
    opacity: 0.3;
}

/* Header link */

.header-link-wrap {
    display: flex;
    align-items: center;
    margin-left: 23px;
}

.header-link__header-login::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 12px;
    background-image: url("../img/icons/enter.svg");
    background-repeat: no-repeat;
    margin-right: 13px;
}

.header-link__exit {
    background-color: inherit;
    border: none;
    margin-left: 28px;
    line-height: 30px;
    opacity: 0.3;
}

.header-link__header-compare {
    padding-left: 22px;
    background-image: url("../img/icons/compare.svg");
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: auto;
}

.header-link__header-basket {
    background-color: inherit;
    border: none;
    padding-left: 29px;
    background-image: url("../img/icons/bascet.svg");
    background-repeat: no-repeat;
    background-position: center left;
    position: relative;
    margin-left: 15px;
}

.header-link__button {
    margin-left: 18px;
}

.header-link__button-basket {
    position: relative;
}

.header-link__header-basket:focus {
    outline: none;
}

.header-link__button:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.header-link__counter {
    font: var(--font-counter);
    width: 21px;
    height: 21px;

    background-color: var(--basic-white);
    border-radius: 21px;

    text-align: center;
    line-height: 21px; /*По другому не получилось поставить ровно*/

    position: absolute;
    left: -15px;
    top: 1.5px;
}

/* МНЕ НЕ НРАВИТСЯ. СДЕЛАЛ ОТДЕЛЬНЫМ БЛОКОМ header-link__counter
.header-link__header-basket::before {
    content:'2';
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    width: 21px;
    height: 21px;
    background-color: var(--basic-white);
    border-radius: 21px;
}
*/

.header-link:hover {
    opacity: 0.6;
}

.header-link:active {
    opacity: 0.3;
}

/* popup */

.popup-basket {
    background: var(--cart-dark);
    position: absolute;
    z-index: 100;
    right: -82px;
    top: 35px;
    width: 320px;
}

.popup-basket__basket-list {
    display: flex;
    flex-direction: column;
    row-gap: 1px
}

.popup-basket__basket-item {
    position: relative;
    background: var(--basic-black);
    min-height: 83px;
    padding: 20px;
    padding-right: 40px;
    box-sizing: border-box;
}

.popup-basket__link {
    display: flex;
}

.popup-basket__link:hover {
    opacity: 0.6;
}

.popup-basket__link:active {
    opacity: 0.3;
}

.popup-basket__img {
    margin-right: 23px;
}

.popup-basket__total-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.button--popup-basket {
    border: 20px solid var(--basic-black);
    background: var(--basic-white);
    height: 50px;
}

.button--popup-basket:hover {
    background-color: var(--special-yellow-light);
}

.button--popup-basket:active {
    background-color: var(--special-yellow-light);
    color: rgb(0, 0, 0, 0.3);
}

.button--popup-basket:focus {
    outline: var(--focus-purple) solid 2px;
    outline-offset: -18px;
}

.button--popup-basket:disabled {
    color: rgb(0, 0, 0, 0.3);
}

.popup-basket__button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    background-image: url("../img/icons/close-popup.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

.popup-basket__button:hover {
    opacity: 0.6;
}

.popup-basket__button:active {
    opacity: 0.3;
}

.popup-basket::before {
    /* треугольник для попапа */
    content: '';
    display: block;
    background-image: url('../img/icons/trg.svg');
    width: 14px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: calc(50% - 7px);
}

/* Header catalog */ 

.header-catalog__button {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-catalog__button:hover::after {
    opacity: 1;
}

.header-catalog__button:active::after {
    opacity: 1;
}

.header-catalog__button::after { /* почему-то обрезается круг */
    content: '';
    display: inline-block;
    background: url('../img/icons/catalog-button.svg') no-repeat;
    height: 51px;
    width: 50px;
    margin-left: 17px;
    opacity: 0.3;
}

.header-catalog__button--open::after { /* почему-то обрезается круг */
    background: url('../img/icons/catalog-button-open.svg') no-repeat;
}

@keyframes dropdown {
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate3d(0px, -110%, 0px);
    }
    80% {
        transform: translate3d(0px, 10%, 0px);
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
}

.header-catalog__dropdown {
    display: none;
}

.header-catalog__dropdown--active {
    position: absolute;
    display: flex;
    z-index: 1;
    background-color: var(--special-yellow-light);
    height: 180px;
    width: 100%;
    font: var(--font-catalog);
    column-gap: 60px;
    left: 0;
    padding: 14px 60px 60px;
    box-sizing: border-box;
    animation: dropdown 0.4s;
}

.header-catalog__link {
    font: var(--font-catalog);
}

.header-catalog__item {
    cursor: pointer;
    padding-bottom: 25px;
}

.header-catalog__item:last-child {
    padding-bottom: 0;
}

.header-catalog__item:hover {
    opacity: 0.6;
}

.header-catalog__item:active {
    opacity: 0.3;
}

/* Nav */

.main-navigation {
    margin: auto 0;
}

.main-navigation__list {
    display: flex;
    justify-content: end;
    column-gap: 46px;
}

.main-navigation__item {
    cursor: pointer;
    z-index: 2;
}

.main-navigation__item:hover {
    opacity: 0.6;
}

.main-navigation__item:active {
    opacity: 0.3;
}

.main-navigation__link span {
    letter-spacing: normal;
}

/* main */

.container-wrap {
    display: grid;
    grid-gap: 70px;
}

/* Slider */

.slider {
    height: 525px;
    position: relative;
}

.slide-number-wrap {
    background-color: var(--special-yellow-light);
    height: 135px;
    box-sizing: border-box;
    text-align: end;
    padding: 0 60px;
    margin-top: -20px;
}

.slider-content__slide-number {
    font: var(--font-slide);
    color: var(--basic-white);
    display: block;
}

.slider-content__slide-number span{
    letter-spacing: -0.07em;
}

/* Control slider*/

.slider-control {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 225px;
    z-index: 1;
}

.slider-control__item {
    margin-right: 20px;
}

.slider-control__item:last-child {
    margin: 0;
}

.slider-control__item:hover {
    opacity: 0.6;
}

.slider-control__item:active {
    opacity: 0.3;
}

.slider-control__control:focus {
    outline: none;  
}

.slider-control__item:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.slider-control__control {
    display: block;
    background-color: inherit;
    box-sizing: border-box;
    width: 12px; 
    height: 12px;
    border:2px solid;
    border-radius: 50%;
}

.slider-control__control--active {
    background: var(--basic-black);
}

/* Slide */

/*.slider-content {
    display: grid;
    grid-template: 560px/560px 560px;
    grid-gap: 40px;
}*/

.slider-content {
    display: none;
}

.slider-content--active {
    position: relative;
    bottom: 175px;
    display: grid;
    grid-template: 560px/560px 560px;
    grid-gap: 40px;
}



.slide-picture__pic-control-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    position: relative;
    top: 270px;
}

.slide-picture__pic-control{
    background: none;
    border: none;
    width: 20px;
    height: 60px;
    background-repeat: no-repeat;
}

.slide-picture__pic-control:hover {
    opacity: 0.6;
}

.slide-picture__pic-control:active {
    opacity: 0.3;
}

.slide-picture__control-left {
    background-image: url("../img/icons/arrow-left.svg");
}

.slide-picture__control-right {
    background-image: url("../img/icons/arrow-right.svg");
}

.slide-picture {
    position: relative;
    bottom: 35px;
}

.slide-picture__img {
    display: block;
}

.slide-preview {
    padding-top: 120px;
}

.slide-preview h3 {
    margin: 27px 0;
}

.slide-preview__text {
    margin: 0;
}

.slide-preview__button-more {  
    width: 220px;
    height: 40px;
    margin: 50px 0;
    transition: 0.2s;
}

.slide-preview__button-more:hover {
    background-image: none;
    background-color: var(--special-yellow-light);
    transition: 0.2s;
}

.slide-preview__button-more:active {
    background-color: var(--click-yellow);
    background-image: none;
}

.slide-preview__table-wrapper {
    text-align: left;
    border-spacing: 18px 10px;
    margin-left: -20px;
    margin-top: -12px;
}

.slide-preview__trait {
    font: var(--font-table-trait);
    color: var(--basic-black);
}

.slide-preview__title {
    font: var(--font-table-title);
}

/* Catalog navigation */

.catalog-nav__list {
    display: flex;
    justify-content: space-between;
}

.catalog-nav__title {
    font: var(--font-category);
    margin-top: 30px;
}

.catalog-nav__link::before {
    content: '';
    display: block;
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow-light);
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-nav__virtual-reality::before {
    background-image: url("../img/icons/virtual-realty.svg");
}

.catalog-nav__monopods::before {
    background-image: url("../img/icons/monopods.svg");
    background-position: bottom;
}

.catalog-nav__action-cameras::before {
    background-image: url("../img/icons/action-cameras.svg");
}

.catalog-nav__fitness-bracelets::before {
    background-image: url("../img/icons/fitness-bracelets.svg");
}

.catalog-nav__watches::before {
    background-image: url("../img/icons/watches.svg");
}

.catalog-nav__copters::before {
    background-image: url("../img/icons/copters.svg");
}

.catalog-nav__item:hover .catalog-nav__link::before {
    background-color: var(--special-yellow-dark);
}

.catalog-nav__item:active {
    opacity: 0.3;
}

.catalog-nav__link:focus {
    outline: none;
}

.catalog-nav__item:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

/* Services */

.services {
    position: relative;
    background: var(--basic-light);
    height: 290px;
    margin-top: 98px;
}

.services__wrap {
    position: relative;;
    top: -102px;
    display: grid;
    grid-template: auto / 287px 1fr;
    grid-auto-rows: 0; 
}

.services h2{
    grid-row-start: 2;
}

.services-control {
    border-right: 7px solid var(--basic-black);
    padding: 65px 0;
}

.services-control__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.services-control__item {
    width: 100%;
    height: 40px;
}

.services-control__item > button {
    height: inherit;
    width: 160px;
}

.services-control__item--active {
    background-color: var(--basic-black);
}

.services-control__item--active > button{
    color: var(--special-yellow-light);
    background-image: none;
}

.services-control__item--active:hover button {
    color: rgba(255, 225, 127, 0.5);
}

.services-control__item--active:active button {
    color: rgba(255, 225, 127, 0.3);
}

.services-control__item > button:focus{
    outline: none;
}

.services-control__item:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.services__item--active {
    display: grid;
    grid-template: 1fr / 1fr auto;
    align-items: center;
}

.services__item-wrap {
    padding-left: 116px;
}

.services__item-wrap h3 {
    margin: 0 0 35px;
}

.services__item-wrap p {
    margin: 0;
}

.services__item::after {
    content: '';
    display: inline-block;
    width: 198px;
    height: 100%;
    justify-self:right;
    align-self: center;
}

.services__item-delivery::after {
    background: url('../img/icons/servises_1.svg') left center no-repeat;
}

.services__item-guarantee::after {
    background: url('../img/icons/servises_2.svg') left center no-repeat;
}

.services__item-credit::after {
    background: url('../img/icons/servises_3.svg') left center no-repeat;
}

/* Delivery order */

.delivery-order {
    background: var(--basic-light);
}

.delivery-order__button {
    font: var(--font-delivery);
    width: 100%;
    justify-content: space-between;
}

.delivery-order__button::before {
    content: '';
    background: url('../img/icons/delivery-order.svg') center no-repeat,var(--special-yellow-light);
    display: inline-block;
    width: 125px;
    height: 100px;
}

.delivery-order__icon {
    background-color: rgba(220, 220, 220, 0.5);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 42.5px;
}

.delivery-order__icon::after {
    content: '';
    background: url('../img/icons/i-order.svg') center no-repeat;
    opacity: 0.3;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.delivery-order__button:hover::before {
    background: url('../img/icons/delivery-order.svg') center no-repeat,var(--special-yellow-dark);
}

.delivery-order__button:hover .delivery-order__icon::after {
    opacity: 1;
}

.delivery-order__button:active {
    opacity: 0.3;
}

.delivery-order__button:focus {
 outline: none;
}

.delivery-order:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

/* About */

.info-wrap {
    display: grid;
    grid-template: auto/1fr 1fr;
}

.about__title {
    margin: 0 0 48px;
}

.about__title::before {
    content: '';
    display: block;
    width: 84px;
    height: 7px;
    background-color: var(--basic-black);
    margin-bottom: 40px;
}

.info__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.info__wrap p {
    margin: 0;
}

.info__wrap h3 {
    margin: 0 0 15px;
}

.info__wrap .button {
    width: 259px;
    height: 40px;
}

.info__wrap .button:hover {
    background-image: none;
    background-color: var(--special-yellow-light);
    transition: 0.2s;
}

.info__wrap .button:active {
    background-color: var(--click-yellow);
    background-image: none;
}

.about__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
} 

.about__item {
    display: flex;
    align-items: center;
}

.about__item::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--special-yellow-dark);
    border-radius: 8px;
    margin-right: 30px;
}

/* Contacts */

.contacts {
    margin-left: 50px;
}

.contacts__phone {
    text-decoration: underline;
    color: var(--basic-dark);
}

.contacts__phone:hover {
    opacity: 0.6;
}

.contacts__phone:active {
    opacity: 0.3;
}

/* Subscription Form */

.subscription {
    height: 421px;
    background-color: var(--basic-light);
}

.subscription__wrap {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap: 144px;
}

.subscription h2 {
    margin: 64px 7px 0;
}

.subscription .text {
    margin: 74px 29px 0;
}

.subscription__form-wrap {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.subscription__form {
    display: flex;
}

.subscription__form label {
    height: min-content;
}

.subscription__input, .subscription__button {
    background: inherit;
    display: block;
    height: 55px;
    box-sizing: border-box;
}

.subscription__input {
    color: var(--basic-black);
    border: solid var(--special-form-background);
    border-width: 0px 0px 3px 0px;
    width: 557px;
    padding-left: 16px;
}

.subscription__input::placeholder {
    color: var(--basic-black);
    opacity: 0.5;
}

.subscription__button {
    border: 3px solid var(--special-form-background);
    text-align: center;
    width: 253px;
}

.subscription__button:hover {
    border-color: var(--basic-black);
}

.subscription__button:active {
    border-color: var(--basic-black);
    opacity: 0.3;
}

.subscription__text::before {
    content: "";
    background: url("../img/icons/status.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

#email-subscribe:focus {
    outline: none;
    background-color: var(--form-basic-gray);
}

#email-subscribe:invalid {
    border-color: var(--status-error);
}

#email-subscribe:disabled {
    opacity: 0.3;
}

/* Main Footer */

.main-footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
    height: 321px;
}

.main-footer__wrap {
    display: grid;
    grid-template: 1fr/max-content 1fr max-content;
}

.footer-find {
    margin-top: 62px;
}

.footer-find__address {
    margin-top: 25px;
}

.footer-find::after {
    content: '';
    display: block;
    height: 7px;
    width: 80px;
    background-color: var(--special-yellow-dark);
    margin-top: 64px;
}

.footer-social__button {
    color: inherit;
}

.footer-social__button:hover {
    text-underline-offset: 6px;
    text-decoration: underline solid var(--special-yellow-dark) 2px;
    color: var(--special-yellow-dark);
}

.footer-social__button:active {
    text-underline-offset: 6px;
    text-decoration: underline solid var(--special-yellow-dark) 2px;
    color: var(--special-yellow-dark);
    opacity: 0.3;
}

/* Social icons */

.footer-social__list {
    display: flex;
    justify-content: center;
    column-gap: 35px;
    margin-top: 137px;
}

.footer-social__icons {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 62px;
}

.footer-social__facebook, .footer-social__instagram, .footer-social__twitter {
    background-color: var(--basic-white);
    opacity: 0.3;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.footer-social__facebook::after {
    background: url("../img/icons/facebook.svg") no-repeat;
}

.footer-social__instagram::after {
    background: url("../img/icons/instagram.svg") no-repeat;
}

.footer-social__twitter::after {
    background: url("../img/icons/twitter.svg") no-repeat;
}

.footer-social__facebook::after, .footer-social__instagram::after, .footer-social__twitter::after {
    content: "";
    background-position: center;
    display: block;
    width: 40px;
    height: 40px;
}

.footer-social__icon--hover:hover, .footer-social__icon--hover:active {
    background-color: var(--special-yellow-dark);
    opacity: 1;
}

.footer-social__icon--hover:active::after {
    opacity: 0.3;
}

.footer-social__icon--hover:focus {
    outline: none;
}

.footer-social__icon:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

/* footer contacts  */

.footer-social__contacts {
    flex-direction: column;
    display: flex;
    margin-top: 140px;
}

.footer-social__phone {
    color: inherit;
    text-decoration: underline;
}

.footer-social__phone:hover {
    color: var(--special-yellow-dark);
}

.footer-social__phone:active {
    color: var(--special-yellow-dark);
    opacity: 0.3;
}

.footer-social__copyright {
    width: fit-content;
    margin-top: 63px;
    align-self: end;
}

.footer-social__copyright:hover .footer-social__copyright-img {
    fill: var(--basic-white);
}

.footer-social__copyright:active .footer-social__copyright-img {
    fill: var(--basic-white);
    opacity: 0.3;
}

/* Modal Delivery */

/*Анимация обои*/

@keyframes popup {
    0%{
      transform: translateX(-100%);
      opacity: 0;
    }
    100%{
        transform:translateX(0%);
        opacity: 1;
    }
  }

.modal__wrap {
    /*opacity: 0;*/
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    border: 10px solid var(--basic-black);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    background: var(--basic-white);
    padding: 62px 70px;
    box-sizing: border-box;
    max-width: 920px;
    height: fit-content; 
    animation: popup 0.4s;
    animation-timing-function: ease-in-out;
}

.modal-delivery {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(240, 240, 240, 0.9);
}

.modal-delivery h2{
    margin: 0;
    margin-right: 100px;
    margin-bottom: 42px;
}

.modal-delivery__close {
    position: absolute;
    top: 84px;
    right: 80px;
    background: url("../img/icons/close-modal.svg") no-repeat;
    width: 26px;
    height: 26px;
    border: none;
}

/* Modal Delivery Form */

.modal-delivery__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 42px;
}

.modal-delivery__item {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.modal-delivery__input {
    border: none;
    box-sizing: border-box;
    width: 360px;
    height: 60px;
    padding: 0;
    padding-left: 20px;
    padding-right: 50px;
}

.modal-delivery__input:hover {
    background-color: var(--form-basic-gray);
}

.modal-delivery__input:disabled {
    background-color: var(--basic-light);
    opacity: 0.3;
}

.modal-delivery__input--user {
    background: url('../img/icons/user-modal.svg') center right 21px no-repeat, var(--basic-light);
}

.modal-delivery__input--email {
    background: url('../img/icons/email-modal.svg') center right 21px no-repeat, var(--basic-light);
}

.modal-delivery__input--request {
    width: 540px;
    background-color: var(--basic-light);
}

.modal-delivery__input::placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}

/*.modal-delivery__user::after {
    content: '';
    background: url('../img/icons/user-modal.svg') no-repeat;
    position: absolute;
    display: block;
    width: 15px;
    height: 12px;
    top: 9px;
    left: 250px;
} */ 

/* Quantity */

.quantity {
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
    break-after: always; 
    position: relative;
}

.quantity__group {
    display: flex;
}

.quantity_input {
    background-color: var(--basic-light);
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
}

.quantity_input::placeholder {
    opacity: 1;
}

.quantity__button {
    border: none;
    width: 60px;
    height: 60px;
}

.quantity__button:disabled {
    background-color: var(--basic-light);
    opacity: 0.3;
}

.quantity__button--minus {
    background: url('../img/icons/quantity-minus.svg') center no-repeat,var(--basic-light); 
}

.quantity__button--plus {
    background: url('../img/icons/quantity-plus.svg') center no-repeat,var(--basic-light); 
}

.quantity__trigger-popup {
    position: relative;
    width: fit-content;
}

.quantity__trigger-popup::after {
    content: '';
    display: block;
    position: absolute;
    right: -34px;
    top: -3px;
    width: 26px;
    height: 26px;
    background: url('../img/icons/i-modal.svg') center no-repeat, var(--special-yellow-light);
    border-radius: 13px;
    cursor: pointer;
    z-index: 2;
}

.quantity__popup {
    background: var(--basic-black);
    width: 200px;
    height: 160px;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 34px;
    right: 0px;
    padding: 19px 17px 19px 19px;
    box-sizing: border-box;
}

.quantity__popup p{
    margin: 0;
}

.quantity__popup::before { /* треугольник для попапа */
    content: '';
    display: block;
    background-image: url('../img/icons/trg.svg');
    width: 14px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 146px;
}

.modal-delivery__button {
    width: 200px;
    height: 40px;
}

.modal-delivery__button:hover {
    background-image: none;
    background-color: var(--special-yellow-light);
    transition: 0.2s;
}

.modal-delivery__button:active {
    background-color: var(--click-yellow);
    background-image: none;
}

.modal-delivery__button:disabled {
    opacity: 0.3;
}

/* Page 2. Catalog*/

/* Breadcrumbs */

.breadcrumbs {
    margin-top: 35px;
    margin-bottom: 35px;
}

.breadcrumbs h1, .breadcrumbs__list{
    padding-left: 60px;
    margin-bottom:16px
}

.breadcrumbs__list {
    display: flex;
    column-gap: 16px;
}

.breadcrumbs__item {
    color: var(--basic-black);
    display: flex;
}

.breadcrumbs__item::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 100%;
    background: url('../img/icons/breadcrumbs-arrow.svg') center no-repeat;
    opacity: 0.2;
    margin-left: 16px;
}

.breadcrumbs__item--active::after {
    display: none;
}

.breadcrumbs__item > a:hover {
    opacity: 0.6;
}

.breadcrumbs__item > a:active {
    opacity: 0.3;
}

/* Catalog */

.catalog {
    background-color: var(--basic-light);
    height: 100%;
}

.catalog__layout {
    display: grid;
    grid-template: 1fr/320px 1fr;
}

/* Filter */

.filter {
    margin-left: 60px;
}

.filter__title {
    margin: 25px 0 25px;
}

.filter__form {
    display: grid;
    row-gap: 35px;
    margin-top: 60px;
    user-select: none
}

.filter__fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter__legend {
    margin-bottom: 20px;
}

.filter__legend::before {
    content: '';
    border: 2px solid var(--basic-black);
    border-width: 2px 0 0 0;
    display: block;
    width: 200px;
    height: 0px;
    margin-bottom: 12px;
}

.range {
    width: 200px;
    height: 18px;
    position: relative;
    display: flex;
}

.range__bullet-wrap {
    height: 18px;
    width: 18px;
    position: absolute;
}

.range__bullet-wrap:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.range__bullet {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid var(--basic-black);
    border-radius: 18px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--basic-light-gray);
    transform: translateX(-50%);
}

.range__bullet-min {
    transform: translateX(-50%);
}

.range__bullet-max {
    transform: translateX(50%);
}

.range__bullet:hover {
    opacity: 0.5;
}

.range__bullet:active {
    opacity: 1;
    background-color: var(--basic-black);
}

.range__line {
    height: 2px;
    width: 100%;
    align-self: center;
    background: var(--form-basic-gray);
}

.range__line--active {
    height: 2px;
    background: #000;
}

.filter-input {
    width: 100px;
    display: flex;
    margin-top: 7px;
}

.filter__input {
    height: 18px;
    width: 71px;
    border: none;
    background: inherit;
    font: var(--font-filter-input);
}

.filter__input::placeholder {
    font: var(--font-filter-input);
    color: var(--basic-black);
    opacity: 0.3;
}

.filter__input--checkbox {    
    appearance: none;
    background: inherit;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid var(--element-form);
}

.filter__input--checkbox:checked {    
    background: url('../img/icons/checkbox.svg') center no-repeat;
    border: 2px solid #000000;
}


.filter__fieldset-item{
    display: flex;
    align-items: center;
}

.filter__input--checkbox {
    margin-right: 16px;
}

.filter__fieldset-item:not(:last-child) {
    margin-bottom: 17px;
}

.filter__fieldset-item:hover {
    opacity: 0.6;
}

.filter__fieldset-item:active {
    opacity: 0.3;
}

/* Radio box  через скрытие элемента и создание отдельного бокса через before*/

.filter__radiobox {
    position: relative;
    padding-left: 36px;
    user-select: none;
}

.filter__input--radio{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.filter__radiobox::before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/icons/radio-elips2.svg') center no-repeat; 
}

.filter__input--radio:focus + .filter__radiobox::before {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.filter__input--radio:checked + .filter__radiobox::before {
    background: url('../img/icons/radio-elips2.svg') center no-repeat,
                url('../img/icons/radio-elips.svg') center no-repeat;
}

.filter__radio li:not(:last-child) {
    margin-bottom: 20px;
}

.filter__button {
    width: 220px;
    height: 40px;
}

.filter__button:hover {
    background-image: none;
    background-color: var(--special-yellow-light);
    transition: 0.2s;
}

.filter__button:active {
    background-color: var(--click-yellow);
    background-image: none;
}

/* Catalog Show */

.catalog__show {
    display: grid;
    grid-template: max-content 1fr/ 1fr;
}

.catalog__wrap {
    background-color: var(--basic-white);
    padding: 70px 40px 0;
    grid-column: 1/4;
}

.catalog__text {
    font: var(--font-catalog-price);
    color: var(--basic-dark);
}

/* Sort */

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    min-height: 70px;
}

.sort__list {
    margin: auto 0;
}

.sort__item {
    color: var(--basic-black);
}

.sort__item-icon {
    background: url('../img/icons/sort-type.svg') center no-repeat;
    border: none;
    width: 30px;
    height: 30px;
}

.sort__item--active {
    display: block;
}

.sort__button {
    display: flex;
    gap: 20px;
    border: none;
    background: none;
    align-items: center;
}

.sort__button:hover {
    opacity: 0.6;
}

.sort__button:active {
    opacity: 0.3;
}

.sort__icon {
    border: none;
    width: 30px;
    height: 30px;
}

.sort__icon:hover {
    opacity: 0.5;
}

.sort__icon:active {
    opacity: 1;
}

.sort__up-down {
    display: flex;
}

.sort__up-down-wrap {
    display: flex;
}

.sort__up-down-wrap:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}

.sort__button--up {
    background: url('../img/icons/sort-item.svg') center no-repeat;
    opacity: 0.2;
}

.sort__button--down {
    background: url('../img/icons/sort-item-down.svg') center no-repeat;
    opacity: 0.2;
}

/* catalog-page */

.catalog__list {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    row-gap: 44px;
    column-gap: 40px;
}

.catalog__link *{
    padding: 0;
    margin: 0;
}

.catalog__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    position: relative;
}

.catalog__link-mark::before {
    content: '';
    width: 60px;
    height: 60px;
    background: url('../img/icons/marker-new.svg');
    position: absolute;
    right: 27px;
    top: 27px;
    z-index: 1;
}

.catalog__img-wrap {
    position: relative;
    display: flex;
}

.catalog__img {
    object-fit: contain;
}

.catalog__link-button {
    display: none;
    width: 220px;
    height: 40px;
    position: absolute;
    background-color: initial;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.catalog__item:hover .catalog__link-button {
    display: flex;
}

.catalog__item:hover .catalog__img-wrap {
    background: rgba(240, 240, 240);
}

.catalog__item:hover .catalog__img, .catalog__item:hover .catalog__link-mark::before {
    opacity: 0.2;
}

.catalog__item:hover h3, .catalog__item:hover .catalog__text {
    opacity: 0.6;
}

.catalog__item:active h3, .catalog__item:active .catalog__text {
    opacity: 0.3;
}

.catalog__item:active .catalog__link-button {
    background-image: url('../img/icons/button-special-line.svg');
}

/* Catalog Nav */

.catalog__nav {
    background-color: var(--basic-light);
    width: 760px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}

.catalog__button {
    border: 3px solid var(--special-button-grey);
    background: inherit;
    width: 760px;
    height: 55px;
    margin: 44px 0;
}

.catalog__button:hover {
    border-color: var(--basic-black);
}

.catalog__button:active {
    border-color: var(--basic-black);
    opacity: 0.3;
}

.catalog__button:disabled {
    opacity: 0.3;
    cursor:auto ;
}

.catalog__button:disabled:hover {
    border-color: var(--special-button-grey);
}

.catalog__nav-list {
    display: flex;
    align-items: center;
}

.catalog__nav-button {
    padding: 25px;
}

.catalog__nav-button:hover {
    background-color: var(--form-basic-gray);
}

.catalog__nav-button:active {
    background-color: var(--form-basic-gray);
}

.catalog__nav-button:active span {
    opacity: 0.3;
}

.catalog__nav-button:disabled {
    opacity: 0;
    cursor:default;
}

.catalog__nav-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__nav-link { 
    color: var(--basic-dark);  
    opacity: 0.3;
}

.catalog__nav-item--ellipsis {
    opacity: 0.3;
}

.catalog__nav-link:hover {
    opacity: 1;
}

.catalog__nav-link:active {
    opacity: 0.1;
}

.catalog__nav-link:focus {
    outline: none;
}

.catalog__nav-item:focus-within {
    outline: var(--focus-purple) solid 2px;
    outline-offset: 2px;
}